{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Posts{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('app.create') }}">New</a>
  {% endif %}
{% endblock %}

{% block content %}
  <hr>
  <hr>
    <h1>JSON Bookmarks</h1>
  <hr>
  <article>
      <pre>{{ bookmarks }}</pre>
  </article>
  <hr>
  <hr>
    <h1>JSON Users</h1>
  <hr>
  <article>
      <pre>{{ users }}</pre>
  </article>
  <hr>
  <hr>
    <h1>JSON Posts</h1>
  <hr>
  <article>
      <pre>{{ posts }}</pre>
  </article>
  <hr>
  <hr>
    <h1>JSON Positions</h1>
  <hr>
  <article>
      <pre>{{ positions }}</pre>
  </article>
  <hr>
  <hr>
    <h1>JSON Families</h1>
  <hr>
  <article>
      <pre>{{ families }}</pre>
  </article>
  <hr>
  <hr>
    <h1>JSON Family Leaders</h1>
  <hr>
  <article>
      <pre>{{ family_leaders }}</pre>
  </article>

{% endblock %}
